section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section::before {
  position: absolute;
  content: "";
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #00bfff;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

section::after {
  position: absolute;
  content: "";
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: #00bfff;
  z-index: 1;
}

section::after {
  animation: pulse 1s linear infinite;
  -webkit-animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.logoRoyal {
  width: 28%;
  height: auto;
  margin: 2rem 0;
  position: relative;
  z-index: 2;
  & img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1520px) {
  section::before {
    height: 10vw;
    width: 10vw;
  }
  section::after {
    height: 11vw;
    width: 11vw;
  }
}

@media (max-width: 600px) {
  .logoRoyal {
    width: 10rem;
  }
}

@media (max-width: 420px) {
  .logoRoyal {
    width: 10rem;
  }
}
