.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 7rem;
  color: #00bfff;
}

.title::before {
  width: 4rem;
  height: 4rem;
}

.title::after {
  width: 4rem;
  height: 4rem;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  left: 5%;
  background-color: #00bfff;
}

.message {
  font-size: 1rem;
  color: #ffff;
}

.borderNone {
  border: none !important;
  background: none !important;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 6px;
}

.form p {
  margin: 0.5rem 0;
}

.form label {
  position: relative;
  background: linear-gradient(#1e1d23, #3b3944) padding-box, linear-gradient(45deg, #0063AD, #e2bdd0) border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  width: auto;
}

.form label .input {
  background-color: transparent;
  color: #fff;
  width: 95%;
  margin: 20px auto 05px auto;
  outline: 0;
  border: none;
  display: flex;
  justify-content: center;
}

.form label .input + span {
  color: #ffff;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #ffff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #0063AD;
  width: 35%;
  margin: 0 auto;
}

.submit:hover {
  background-color: #0063AD;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}