.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #1a1a1a;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 1rem;
}

.title {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  display: block;
  color: #00b5ff; /* ligero ajuste para mejor contraste */
}

.message {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.borderNone {
  border: none !important;
  background: none !important;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
  font-size: 1rem;
}

.form p {
  margin: 0.5rem 0;
}

.form label {
  position: relative;
  background: linear-gradient(#1d1c23, #403e49) padding-box,
    linear-gradient(45deg, #0063ad, #e2bdd0) border-box;
  border: 2px solid transparent;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.form label .input {
  background-color: transparent;
  color: #ffffff;
  width: 95%;
  margin: 1rem auto 0.25rem auto;
  outline: 0;
  border: none;
  font-size: 1rem;
}

.form label .input + span {
  color: #ffffff;
  position: absolute;
  left: 1rem;
  top: 0.4rem;
  font-size: 0.8rem;
  transition: 0.3s ease;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 0;
  left: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 600;
  background-color: #0063ad;
  width: 40%;
  margin: 0 auto;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.submit:hover {
  background-color: #153651;
  color: #ffffff;
}

@media (min-width: 1520px) {
  .title {
    font-size: 1.3vw;
  }
  .message {
    font-size: 1.1vw;
  }
  .form label .input + span {
    font-size: 0.9vw;
  }
  .form label .input {
    font-size: 1vw;
  }
  .flex {
    font-size: 1vw;
  }
  .submit {
    font-size: 1vw;
    line-height: 1.3vw;
  }
}

@media (max-width: 600px) {
  .submit {
    width: 55%;
  }
}
